* {
    background-color: #011F3F;
    text-align: center;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #FEF2BF;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 60vh;
    height: 60vh;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
}
.btn {
    width: 25vh;
    height: 25vh;
    border: 10px solid black;
    border-radius: 15%;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}